@model modelfor_archive.Models.UserAcc
@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Archive-Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/HomePage/assets/img/folders (2).png" rel="icon">
    <link href="~/HomePage/assets/img/folders (2).png" rel="folders (2)">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/HomePage/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/HomePage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    @*<link href="assets/css/style.css" rel="stylesheet">*@
    <link href="~/HomePage/assets/css/style.css" rel="stylesheet">
    <!-- =======================================================
    * Template Name: Selecao
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1>
                    <a href="/Home/AdminHome">Archive </a>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <a href="/Home/AdminHome"><img src="~/HomePage/assets/img/document.png" alt="" class="img-fluid"></a>
                </h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/Home/AdminHome">Home</a></li>
                    <li><a class="nav-link scrollto" href="/Home/AdminHome/#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="/Home/AdminHome/#about">About</a></li>
                    <li class="dropdown">

                    <li class="dropdown">
                        <a href="#">
                                @if (Model.userGender == modelfor_archive.Models.Gender.Male)
                                {
                                <img height="30" width="30" src="/userImage1.png">
                                }
                                else if (Model.userGender == modelfor_archive.Models.Gender.Female)
                                {
                                <img height="30" width="30" src="/userImage2.png">
                                }
                            <span></span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/User/Profile">Profile</a></li>
                            <li><a href="/User/editProfile">Update Profile</a></li>
                            <li><a href="/Home/Help">Help</a></li>
                            <li><a asp-action="Login" asp-controller="Home">logout</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>FCI Archive</span></h2>
                    <p class="animate__animated fanimate__adeInUp">It's not a war crime if no ones alive to report it. </p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">This project was made by some students of the CS department</h2>
                    <p class="animate__animated fanimate__adeInUp"></p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Why was the computer cold? It left its Windows open.</h2>
                    <p class="animate__animated fanimate__adeInUp"></p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>

        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>

    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Services</h2>
                    <p>What you can do...</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <a href="/Home/showall" style="display: block;">
                            <div class="icon-box" data-aos="zoom-in-left" style="cursor: pointer;">
                                <div class="icon"><i class="bi bi-server" id="DOMContentLoaded" style="color: #ff689b;"></i></div>
                                <h4 class="title" style="color:black;">Show All User</h4>
                                <div>
                                    <p class="description" style="color:black;">show all users that use this system, and you can search for any user you want and show his/her information.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="/User/addUser" style="display: block;">
                            <div class="icon-box" data-aos="zoom-in-left" style="cursor: pointer;">
                                <div class="icon"><i class="bi bi-person-plus-fill" id="DOMContentLoaded" style="color: purple;"></i></div>
                                <h4 class="title" style="color:black;">Add User</h4>
                                <div>
                                    <p class="description" style="color:black;">This section help you to add new user who will be added for first time not his/her job title has been changed.</p>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://localhost:44339/User/ShowAllRemoveUsers" style="display: block;">
                            <div class="icon-box" data-aos="zoom-in-left" style="cursor: pointer;">
                                <div class="icon"><i class="bi bi-incognito" id="DOMContentLoaded" style="color: deepskyblue;"></i></div>
                                <h4 class="title" style="color:black;">Removed Users</h4>
                                <div>
                                    <p class="description" style="color:black;">Removed Users from the system, and thier Messages with Details, but not all of details. (like the content of message)</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Services Section -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>About Us</h2>
                    <p>Who We Are</p>
                </div>

                <div class="row content" data-aos="fade-up">
                    <div class="col-lg-6">
                        <p>
                            At our Archive Website, we are dedicated to providing a comprehensive platform designed specifically to meet the needs of professors and administrators in storing, organizing, and accessing essential data and information. Our goal is to ensure a user-friendly experience while maintaining the utmost security and integrity of all stored materials.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Our platform offers seamless and efficient access to all sent and received messages.</li>
                            <li><i class="ri-check-double-line"></i> We prioritize the privacy and confidentiality of all data stored on our platform.</li>
                            <li><i class="ri-check-double-line"></i> Our user-friendly interface allows for easy navigation and intuitive operations.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-3" data-aos="zoom-in">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <i class="ri-gps-line"></i>
                            <h4 class="d-none d-lg-block">Streamlined Navigation</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <i class="ri-body-scan-line"></i>
                            <h4 class="d-none d-lg-block">Efficient Data Management</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <i class="ri-sun-line"></i>
                            <h4 class="d-none d-lg-block">Enhanced Collaboration</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                            <i class="ri-store-line"></i>
                            <h4 class="d-none d-lg-block">Robust Security</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" data-aos="fade-up">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Effortless navigation and seamless user experience</h3>
                                <p class="fst-italic">
                                    Our platform provides a user-friendly interface, ensuring easy navigation and a smooth experience for all users.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Access your desired features and functionalities with just a few clicks.</li>
                                    <li><i class="ri-check-double-line"></i> Intuitive design and layout make it simple to find and use various tools and options.</li>
                                    <li><i class="ri-check-double-line"></i> Enjoy a streamlined and efficient experience while navigating through different sections of the platform.</li>
                                </ul>
                                <p>
                                    Experience the convenience of our platform's user-centric design, allowing you to focus on your tasks and maximize productivity.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Efficient data management and organization</h3>
                                <p>
                                    Take control of your data with our platform's robust data management capabilities, empowering you to organize, store, and retrieve information effortlessly.
                                </p>
                                <p class="fst-italic">
                                    Enjoy a structured approach to managing your data, streamlining your workflow and saving valuable time.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Store and manage documents, files, and other important data securely.</li>
                                    <li><i class="ri-check-double-line"></i> Effortlessly search and retrieve specific information using advanced search functionalities.</li>
                                    <li><i class="ri-check-double-line"></i> Organize and categorize data with customizable tags, labels, and folders.</li>
                                    <li><i class="ri-check-double-line"></i> Collaborate and share data with ease, ensuring seamless collaboration among team members.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Facilitated collaboration and teamwork</h3>
                                <p>
                                    Our platform is designed to foster collaboration among users, enabling seamless teamwork and effective communication within academic institutions.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Collaborate in real-time with colleagues, facilitating efficient information sharing and brainstorming.</li>
                                    <li><i class="ri-check-double-line"></i> Assign tasks, set deadlines, and track progress within shared projects.</li>
                                    <li><i class="ri-check-double-line"></i> Share ideas, resources, and feedback easily, promoting a collaborative and engaging environment.</li>
                                </ul>
                                <p class="fst-italic">
                                    Experience enhanced teamwork and communication, driving productivity and fostering innovation within your institution.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Top-notch security and data privacy</h3>
                                <p>
                                    We prioritize the security and privacy of your data, ensuring that all stored information remains confidential and protected from unauthorized access.
                                </p>
                                <p class="fst-italic">
                                    Rest assured that your data is safe and secure within our platform.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Implement robust security measures to safeguard your data from external threats.</li>
                                    <li><i class="ri-check-double-line"></i> Employ advanced encryption techniques to protect sensitive information.</li>
                                    <li><i class="ri-check-double-line"></i> Regularly update and maintain our platform's security infrastructure to address emerging threats.</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Testimonials</h2>
                    <p>What they are saying about us</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    The platform is incredible! It has streamlined our workflow and made data management effortless. Our team can easily collaborate and share information, leading to improved productivity and innovation.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Emily Johnson</h3>
                                <h4>CEO, ABC Corporation</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    The platform's advanced search functionalities have been a game-changer for our organization. Finding specific information is now a breeze, saving us valuable time and effort. Highly recommended!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Michael Thompson</h3>
                                <h4>Director of Operations, XYZ Company</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    I am impressed with the level of security and data privacy provided by the platform. Our sensitive information remains confidential and protected from unauthorized access. It's reassuring to know our data is in safe hands.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Sarah Davis</h3>
                                <h4>Data Protection Officer, DEF Inc.</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    The platform's user-friendly interface and intuitive features have made a significant difference in our daily operations. It has transformed the way we collaborate and work together, leading to greater efficiency and productivity.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>David Roberts</h3>
                                <h4>Project Manager, GHI Solutions</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Our experience with the platform has been exceptional. It has revolutionized the way we handle data and collaborate with our clients. The platform's flexibility and scalability have allowed us to adapt and grow as our business expands.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>Lisa Anderson</h3>
                                <h4>Founder, JKL Enterprises</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Faculty of computers and information in Assiut University.</p>
                            </div>
                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>hussein.abalkader96@gmail.com</p>
                            </div>
                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>01556381677</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
                        <div class="google-maps" style="margin-left: 20px;">
                            <iframe width="750" height="400" frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14196.154117152093!2d31.151052139550792!3d27.1865258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x144509582eaf1793%3A0x8b0ec294aecc2eca!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiCDYp9mE2YXYudmE2YjZhdin2Ko!5e0!3m2!1sen!2seg!4v1684672840360!5m2!1sen!2seg">
                            </iframe>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Archive</h3>
            <div class="social-links">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Archive</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                <p>Designed by FCI Students"</p>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->

    <script src="~/HomePage/assets/vendor/aos/aos.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/HomePage/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.bundle.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.min.js.map"></a>
    <a href="~/HomePage/assets/vendor/bootstrap/js/bootstrap.esm.js.map"></a>

    <script src="~/HomePage/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/HomePage/assets/vendor/glightbox/js/glightbox.js"></script>

    <script src="~/HomePage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/HomePage/assets/vendor/isotope-layout/isotope.pkgd.js"></script>

    <a href="~/HomePage/assets/vendor/swiper/swiper-bundle.min.js.map">~/assets/vendor/swiper/swiper-bundle.min.js.map</a>
    <script src="~/HomePage/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="~/HomePage/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/HomePage/assets/js/main.js"></script>

</body>

</html>